@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a {
  color: #ededfa;
  text-decoration: unset;
}

ul {
  margin-left: 1.5 rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

/* general style*/

body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding: 1rem;
}

.container {
 max-width: 800px;
 margin: 0 auto;
}

/*Header Style*/

#header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fa1010;
  padding: 0 1rem;
}
#header .title {
  margin: 0;
  color: #ffffff;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  background-color: #801818;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 1.1rem;
}

#header .auth-options button:hover {
  background-color: #8b4343;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 1.1rem;
}

/* Form style */
.form label,
.form input {
  display: block;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.3rem;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
  background-color: #dfdfdf;
}
.form input:focus {
  border: 1px solid #7ca8fa;
  outline: none;
  box-shadow: inset 0px 0px 6px rgba(158, 191, 252, 0.5);
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid#5287cc;
  background-color: #b1d0f8;
  font-size: 1.1rem;
  border-radius: 8px;
}

/* Error Notice Style */
.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid salmon;
  border-radius: 8px;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 197, 192);

}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgb(228, 67, 67);
}


/* Response Styles */
@media screen and (max-width: 500px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }
}