/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #eee8df;
}

a {
  color: #ededfa;
  text-decoration: unset;
}

ul {
  margin-left: 1.5 rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  margin: 0;
}
h3 {
  margin-top: 1em;
  margin-bottom: 2rem;
}

h4 {
  margin-top: 1em;
  margin-bottom: 1.7rem;
  color:  #eee8df;
}
/* general style*/

body {
  font-family: sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/*Header Style*/

#header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5903a;
}
#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #fbf8ea;
  font-size: 1.65rem;
  background-color: #c5903a;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  background-color: #ac7d33;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 1.1rem;
}

#header .auth-options button:hover {
  background-color: #976c3a;
  transition: ease-in-out 0.3s;
}

/* Form style */
.form label,
.form input {
  display: block;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.3rem;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
  background-color: #dfdfdf;
}
.form input:focus {
  border: 1px solid #75a4fa;
  outline: none;
  box-shadow: inset 0px 0px 6px rgba(110, 136, 185, 0.5);
  transition: ease-in-out 0.4s;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid#5287cc;
  background-color: #b1d0f8;
  font-size: 1.1rem;
  border-radius: 8px;
}

/* Error Notice Style */
.error-notice {
  margin: 1rem 0rem;
  padding: 0.3rem;
  border: 1px solid salmon;
  border-radius: 8px;
  color: rgb(253, 69, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(241, 197, 192); */
}

span.error-notice {
  background-color: rgb(241, 197, 192);
  background: #7ca8fa;
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgb(228, 67, 67);
}

/* media queries for responsive desing styling */
@media screen and (max-width: 586px) {
  #header .title {
    font-size: 0.8rem;
  }
  #header .auth-options button {
    font-size: 0.6rem;
    padding: 0 0.5rem;
  }
}
